


<div class="container-fluid" ng-init="cargarSesions()">
    <div class="row">
        <div class="col-12 text-center mt-4 mb-0">
            <h1>RESERVA DE CAMPOS</h1>
            <div class="d-flex justify-content-center">
                <button  id="admin" class="admin btn btn-success btn-sm center" routerLink="/agregar-campo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    Agregar campo
                </button>
            </div>
            
            
        </div>
        <div class="col-md-6 col-lg-4 mt-5" *ngFor="let campo of Campos; let iControl = index">
            <!-- Bootstrap 5 card box -->
            <div class="card-box text-center h-100">
                <div class="card-thumbnail">
                    <img src={{campo.imagen}} class="card-img-top" height="300" width="400" alt="">
                </div>
                <h3 class="mt-2">{{campo.NOMBRE}}</h3>
                <p class="text-secondary">{{campo.DIRECCION}}</p>
                <p class="text-secondary">{{campo.TIPO}}</p>
                <button class="btn btn-dark" type="button" routerLink="/reservar-campo/{{campo.ID_CAMPO}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                        <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                    </svg>
                    Reservar
                </button>
                
                <br>
                <div class="d-flex justify-content-center">
                    <button  id="admin" class="admin btn btn-secondary mt-2 mx-2 center" routerLink="/editar-campo/{{campo.ID_CAMPO}}">Editar</button>
                    
                    <button   id="admin" class="admin btn btn-danger mt-2 mx-2" (click)="borrarRegistro(campo.ID_CAMPO,iControl)"  role="button">ELIMINAR</button>
                </div>
                
            </div>
        </div>

        
    </div>
</div>

