<div class="card">
    <div class="card-header">
        Reservar Campo
    </div>
    <div class="card-body">
        <form ngNativeValidate [formGroup]="formularioReserva" (ngSubmit)="enviarDatos()">

            <div class="mb-3">
              <label for="" class="form-label">Dia de la reserva</label>
              <input required type="date" formControlName="fecha" class="form-control" name="" id="" aria-describedby="helpId">
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Hora de la reserva</label>
                <input required type="time" formControlName="hora" class="form-control" name="" id="" aria-describedby="helpId" >
            </div>
            <fieldset disabled>
            <div class="mb-3">
                <label for="" class="form-label">Id del campo</label>
                <input required type="text" formControlName="idcampo" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Id del campo">
            </div>

            
            <div class="mb-3">
                <label for="" class="form-label">Usuario</label>
                <input  required type="text" formControlName="usuario" class="form-control" name="" id="" aria-describedby="helpId" placeholder="usuario">
            </div>
            </fieldset>

              <div class="btn-group" role="group" aria-label="">
                  <button type="submit" class="btn btn-success">Reservar</button>
                  <button type="button" routerLink="/listar-campos" class="btn btn-danger">Cancelar</button>
              </div>
        </form>
    </div>
    
</div>

